/*Theme Dark Indigo Styles*/
$white: white !default;
$app-primary-dark-indigo: #00bcd4 !default;
$app-primary-cyan: #00bcd4 !default;
$secondary-dark-indigo: #69f0ae;

$sidebar-dark-indigo: $white !default;
$sidebar-text-dark-indigo: #868e96 !default;
$sidebar-darken-indigo: darken($sidebar-dark-indigo, 3%);

$sidebar-text-color: $white !default;
// Links
$link-hover-dark-indigo: $sidebar-text-color;

.navigationBar {
	background-color: $app-primary-cyan;
	max-height: 64px;
}
.mainColor {
	background-color: lighten($app-primary-dark-indigo, 5%);
}
.searchForm {
	background-color: lighten($app-primary-dark-indigo, 30%);
}
